{{ define "title" }}Example buttons{{ end }} {{ define "view" }}
<style>
    .clicker {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    .clicker > div {
        margin: 0 1rem;
    }
</style>
<div class="clicker">
    <button live-window-keyup="dec" live-key="ArrowDown" live-click="dec">
        -
    </button>
    <div>{{.Assigns.Value}}</div>
    <button live-window-keyup="inc" live-key="ArrowUp" live-click="inc">
        +
    </button>
</div>
{{ end }}
